@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title mdl-layout-title-muted">Site</span>
        <nav class="mdl-navigation">
            <span class="mdl-navigation__link mdl-navigation__link-muted" href="">@Html.Encode(ViewBag.Site)</span>
        </nav>
        <hr />
        <span class="mdl-layout-title">Drive</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Content</a>
            <a class="mdl-navigation__link" href="">Media</a>
            <a class="mdl-navigation__link" href="">Redirects</a>
        </nav>
        <span class="mdl-layout-title">Settings</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Domains</a>
            <a class="mdl-navigation__link" href="">Content Templates</a>
            <a class="mdl-navigation__link" href="">Content Types</a>
            <a class="mdl-navigation__link" href="">Media Types</a>
            <a class="mdl-navigation__link" href="">Property Types</a>
            <a class="mdl-navigation__link" href="">Scale</a>
        </nav>
        <span class="mdl-layout-title">Status</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link mdl-navigation__link-active" href="">Dashboard</a>
            <a class="mdl-navigation__link" href="">Publisher</a>
            <a class="mdl-navigation__link" href="">Storage</a>
            <a class="mdl-navigation__link" href="">Versions</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
        </div>
    </main>
</div>